@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    margin: 0px !important;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* margin: 10px 5px; */
    padding-top: 3px;
    background-color: white;
    padding: 10px 20px;
    /* border-radius: 20px; */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

nav a {
    color: #333;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.2s;
}

nav a:hover {
    /* color: #1c617f; */
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gap-2 {
    gap: 8px;
}

.gap-3 {
    gap: 12px;
}

.gap-5 {
    gap: 20px;
}

.hidden {
    display: none;
}

.relative {
    position: relative;
}

.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
}

.dropdown_link {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.dropdown_link:hover {
    background-color: #f0f0f0;
}

.black_btn {
    background-color: #1c617f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.black_btn:hover {
    background-color: #333;
}

.main_btn {
    background-color: #1C617F;
    color: white;
    border: none;
    padding: 7px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-align: center;
    vertical-align: middle;
}

.main_btn:hover {
    background-color: #113848;
}

.mt-5 {
    margin-top: 20px;
}

.w-full {
    width: 100%;
}
p.name{
    vertical-align: middle;
    align-self: center;
}
.vl {
    border-left: 2px solid rgb(134, 134, 134);
    align-self: center;
    height: 35px;
    margin-left: 15px;
    margin-right: -5px;
    top: 0;
}
.hl{
    border-top: 1.5px solid rgb(188, 188, 188);
    width: 100%;
    margin: 10px 0;
}
.details-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
